
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <p>Name: @ViewBag.CustomerOne.FirstName @ViewBag.CustomerOne.LastName</p><br />
    <p>Address: @ViewBag.CustomerOne.Address , @ViewBag.CustomerOne.Zip @ViewBag.CustomerOne.City</p>
    <p>Phone Number: @ViewBag.CustomerOne.PhoneNumber</p>
</div>

<div>
    <p>Name: @ViewBag.CustomerTwo.FirstName @ViewBag.CustomerTwo.LastName</p><br />
    <p>Address: @ViewBag.CustomerTwo.Address , @ViewBag.CustomerTwo.Zip @ViewBag.CustomerTwo.City</p>
    <p>Phone Number: @ViewBag.CustomerTwo.PhoneNumber</p>
</div>

<div>
    <p>Name: @ViewBag.CustomerThree.FirstName @ViewBag.CustomerThree.LastName</p><br />
    <p>Address: @ViewBag.CustomerThree.Address , @ViewBag.CustomerThree.Zip @ViewBag.CustomerThree.City</p>
    <p>Phone Number: @ViewBag.CustomerThree.PhoneNumber</p>
</div>